// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$m: 0;
$p: 0;
$bx: border-box;
$theme1: #f5365c;
$theme2: #e9ecef;
// Sidebar Color;
$theme3: #E0EAF3;
$theme4: #CFDEF3;
$theme5: #f7fafc;

*{
    margin: $m;
    padding: $p;
    box-sizing: $bx;
}
html, body{
    font-family: 'Roboto', sans-serif, Tahoma, Geneva;
    background: linear-gradient(
        to bottom,
        $theme1 9.7%,
        $theme2 9.7%);
    min-height: 100%;
    overflow-y: hidden;
}